* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*CONTEUDO DA PÁGINA*/

#title-form {
    font-family: 'remachine_script_personal_uRg';
    color: rgb(248, 117, 56);
    font-size: 4em;
}



.cadastro-profissionais input, 
.cadastro-profissionais textarea,
.form-user input,
.form-user textarea,
.form-project input,
.form-project textarea {
    border: rgb(165, 157, 157) 1px solid;
    border-radius: 10px;
}


.alterar-foto {
    font-family: 'Lato';
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
    color: rgba(250, 169, 102, 0.911);
    margin-left: 0px;

}


/* Tagsinput para adicionar as tags de habilidades e categorias */


.add-experiencia {
    text-align: center;
    margin-top: 0;
    height: 35px;
    padding-bottom: 65px;
}


/*FORMULÁRIO - USUÁRIO*/

.cadastro-user, .cadastro-projeto{
    border: rgb(165, 157, 157) 1.4px solid;
    border-radius: 20px;
    font-family: 'lato';
    font-size: 1.3em;
    color: rgb(248, 117, 56);
    width: 70%!important;
}

.formHabilidadesInteresses{
    width: 100%;
}


.cadastro-exp-extra, .cadastro-profissionais{
    width: 70%!important;
    border: rgb(165, 157, 157) 1.4px solid;
    font-family: 'Lato';
    font-size: 1.2em;
    color: rgb(248, 117, 56);
    background-color: rgb(255, 224, 212);
    border-radius: 20px 20px 0 0;
}

.add-foto-exp {
    font-family: 'Lato';
    color: white;
    background-color: rgb(235, 151, 165);
}

.add-foto-exp:hover{
    font-size: .9em;
    background-color: rgb(214, 135, 149);
}

.btn-exp-user {
    width: 70%;
    height: 60px;
    border-radius: 0 0 20px 20px;
    font-size: 15px;
    background-color: white;
}

.btn-exp-user:hover{
    background-color: rgb(214, 135, 149);
}

.botao-final-user {
    width: 73%;
    margin: 0 auto;
    text-align: right;
    padding: 20px;
}