* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 224, 212);
    font-family: Lato;
    font-size: 1em;
}

.search{
    width: 20px;
}


#button-search {
    display: inline-block;
    border: none;
    height: 37px;
    border-radius: 0 8px 8px 0;
    width: 50px;
    background: rgba(250, 169, 102, 0.911);
}

.titulo-secao {
    font-family: 'remachine_script_personal_uRg';
    color: rgb(248, 117, 56);
    font-size: 3em;
    display: inline-block;
}

h3 {
    font-family: 'remachine_script_personal_uRg';
    color: rgb(248, 117, 56);
    display: inline-block;
}


#pesquisa-nav img {
    width: 1em;
}

#pesquisa-nav {
    /* position: absolute; */
    top: 30%;
    display: inline-block;
    background-color: white;
    border-radius: 10px 0 0 10px;
    width: 280px;
    height: 32px;
    /* margin-left: 100px; */
}

#pesquisa-nav {
    background-color: transparent;
    padding-left: 10px;
    font-size: 10px;
    border: none;
    height: 32px;
    width: 290px;
}


#barra-busca #input {
    display: flex;
    flex-direction: row;
}

#pesquisa-nav button {
    display: inline-block;
    /* position: absolute; */
    border: none;
    /* height: 32px; */
    border-radius: 0 8px 8px 0;
    /* width: 60px; */
    background: rgba(250, 169, 102, 0.911);
}


/*menu de navegação*/

nav {
    background-color: rgb(255, 224, 212)
}

.nav {
    font-size: 1.5em;
    background-color: rgb(255, 224, 212);
    /* border: 1px solid red; */
}



.nav a {
    text-decoration: none;
    color: darkslategrey;
    font-size: 0.8em;
    font-family: 'Lato';
    font-weight: bold;
}


/*CONTEUDO DA PÁGINA*/

h2 {
    color: rgb(248, 117, 56);
    font-family: 'Lato';
    text-align: center;
    font-size: 2.5em;
    padding: 20px 0 1px 0;
}

h3 {
    color: rgb(248, 117, 56);
    font-size: 1.5em;
    text-align: center;
}

h4 {
    color: rgb(248, 117, 56);
    font-size: 1.1em;
}

.titulo-2 {
    width: 80%;
    margin: 0 auto;
}

footer {
    display: inline-block;
    background-color: rgb(255, 224, 212);
    width: 100%;
    text-align: center;
}

.redes {
    width: 2em;
    margin: 10px;
}


@media(max-width: 800px){
    header ul li{
        width: 100%;
        float: none;
    }
    
    .nav-link{
        padding: 0;
    }
    .menu{
        margin-left: 62%;
    }

    a.nav-link{
        border-bottom: rgb(240, 143, 105) solid 2px;
    }

    .menu-geral{
        padding-right:0;
    }

    .botao-nav :checked ~ .menu {
        margin-left: 0;
    }

    #barra-busca{
        width: 65%;
    }
}

.botao-padrao {
    background-color: rgb(248, 117, 56);
    color: white;
    font-family: 'Lato';
    font-size: 20px;
    border: none;
}

   