*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.info {
    display:flex;
    align-items: center;
    text-align: center;
}
.info p{
    text-align: justify;
    
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0em;
}
img{
    border-radius: 50%;
    
}
h1{
    font-family: 'remachine_script_personal_uRg' ;
    color:rgb(248, 117, 56);
    font-size: 3em;
}
h3{
    font-family: 'remachine_script_personal_uRg' ;
    color:rgb(82, 82, 82);
    font-size: 2.5em;
}