* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    align-items: center;
    text-align: center;
}

.info p {
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;  
}

.sobre-home{
    padding: 0;
}

#bola {
    border-radius: 50%;
}

h1 {
    font-family: 'remachine_script_personal_uRg';
    color: rgb(248, 117, 56);
    font-size: 3em;
}

h3 {
    font-family: 'remachine_script_personal_uRg';
    color: rgb(82, 82, 82);
    font-size: 2.5em;
}


/*FORMULÁRIO DE CONTATO*/

.form-contato {
    width: 90%;
    margin: 0 auto;
    font-family: 'Lato';
    font-size: 1.5em;
    color: rgb(248, 117, 56);
}

.form-contato input,
.form-contato textarea {
    border: rgb(165, 157, 157) 1px solid;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 7px;
}

.caixa-contato {
    width: 90%;
    margin: 0 auto;
}

.caixa-contato button {
    background-color: rgb(248, 117, 56);
    color: white;
    font-family: 'Lato';
    font-size: 23px;
    border: none;
}


