/*.row div {
    border: 2px solid coral; 
}*/

ul {
    list-style-type: none;
}

#habilidades .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-info {
    margin-top: 2em;
}

#main-info .col-sm-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-info ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lato';
}

.foto-perfil{
    text-align: center;
}

#foto p{
    text-align: center;
}

.checked {
    color: orange;
}

#menu-lado {
    background-color: rgb(226, 226, 226);
    /* padding-top: 10px; */
    border-top-left-radius: 15%;
    color: rgb(70, 70, 70);
    font-family: 'Lato';
    font-size: medium;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#menu-lado .my-4 {
    display: flex;
    justify-content: center;
}

#menu-lado h6 {
    color: orange;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

#menu-lado h5{
    color: rgb(104, 98, 98);
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.nossa-equipe h4{
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}
