/node_modules
/public/hot

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

LICENSE
app.docker
db.docker
docker-compose.yml
docker-laravel-base-master/
vhost.conf
web.docker
