@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.perfil-foto-cadastro {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}
    
.perfil-foto-cadastro img {
    width: initial;
    height: inherit;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/*CONTEUDO DA PÁGINA*/

#title-form {
    font-family: 'remachine_script_personal_uRg';
    color: rgb(248, 117, 56);
    font-size: 4em;
}

.cadastro-profissionais input, 
.cadastro-profissionais textarea,
.form-user input,
.form-user textarea,
.form-project input,
.form-project textarea {
    border: rgb(165, 157, 157) 1px solid;
    border-radius: 10px;
}

.alterar-foto {
    font-family: 'Lato';
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
    color: white;
    margin-left: 0px;
    background-color: rgb(248, 117, 56);
    border: none;
}

.alterar-foto:hover{
    background-color: rgb(255, 94, 20);
    font-size: 0.802em!important;
    color: white;

}


/* Tagsinput para adicionar as tags de habilidades e categorias */


.add-experiencia {
    text-align: center;
    margin-top: 0;
    height: 35px;
    padding-bottom: 65px;
}


/*FORMULÁRIO - USUÁRIO*/

.cadastro-user, .cadastro-projeto{
    border: rgb(165, 157, 157) 1.4px solid;
    border-radius: 20px;
    font-family: 'lato';
    font-size: 1.3em;
    color: rgb(248, 117, 56);
    width: 70%!important;
}

.formHabilidadesInteresses{
    width: 100%;
}


.cadastro-exp-extra, .cadastro-profissionais{
    width: 60%!important;
    border: rgb(165, 157, 157) 1.4px solid;
    font-family: 'Lato';
    font-size: 1.2em;
    color: rgb(248, 117, 56);
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.add-foto-exp {
    font-family: 'Lato';
    color: white;
    background-color: rgb(235, 151, 165);
}

.add-foto-exp:hover{
    font-size: .9em;
    background-color: rgb(214, 135, 149);
}

.btn-exp-user {
    width: 70%;
    height: 60px;
    border-radius: 0 0 20px 20px;
    font-size: 15px;
    background-color: white;
}

.btn-exp-user:hover{
    background-color: rgb(214, 135, 149);
}

.botao-final-user {
    width: 73%;
    margin: 0 auto;
    text-align: right;
    padding: 20px;
}

.modal-titulo{
    background-color: rgb(255, 224, 212) ;
}

.modal-para-perfil{
    text-decoration: none;
    color: white;
}

.modal-para-perfil:hover{
    text-decoration: none;
    color: white;
}

.descricaoProfissional{
    width: 100%;
}



.btn-cadastro:hover{
    font-size: 1.02em!important;

}


@media screen and (max-width: 650px) {
    .content-projeto {
        display: flex;
        flex-direction: column;
    }    
}

@media screen and (max-width: 800px) {
    .content-projeto {
        display: flex;
        flex-direction: column;
    }
}







/* CATEGORIAS */

.cont, .cont-categoria {
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px rgb(161, 156, 156);
    margin: 0 auto;
    margin-bottom: 8px;
}
.tag-cont, .tag-cont-categoria{
    padding: 2px;
    display: flex;
    
}

.tag-cont .tag, .tag-cont-categoria .tagCategoria {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.tag i, .tagCategoria i{
    font-size: 16px;
    margin-left: 5px;
}

.tag-cont input, .tag-cont-categoria input{
    flex:1;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 0;
}

.material-icons:hover{
    cursor: pointer;
}


/* HABILIDADES */

.cont, .cont-habilidade {
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px rgb(161, 156, 156);
    margin: 0 auto;
    margin-bottom: 8px;
}
.tag-cont, .tag-cont-habilidade{
    padding: 2px;
    display: flex;
    
}

.tag-cont .tag, .tag-cont-habilidade .tagHabilidade {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.tag i, .tagHabilidade i{
    font-size: 16px;
    margin-left: 5px;
}

.tag-cont input, .tag-cont-habilidade input{
    flex:1;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 0;
}

.material-icons:hover{
    cursor: pointer;
}