*{
    font-family: 'lato';
}



#titulo-feed{
    font-family: 'remachine_script_personal_uRg';
    color: rgb(248, 117, 56);
    font-size: 2.8rem;    
}

a{
    color: rgb(248, 117, 56);
}


/*Coluna pesquisa*/
.colPesquisaAvancada{
    background-color: rgb(226, 226, 226);
    border-top-right-radius: 100px;
}

/*Botões do feed*/
.btn-feed{
    width: 50%;
    border-radius:10px 10px 0 0!important;
}


.btn-feed:hover{
    background-color: rgb(248, 117, 56);
}

.btn-principais-feed{
    background-color: white;
}

/*Corpo do feed*/

.conteudo-feed .text-secundario-feed{
    font-size: 20px;
}

.img-projeto{
    width: 100%;
    object-fit: cover;
}


.descricao-proj{
    font-size: 1.1em;
}

.titulo-publi-feed{
    font-size: 1.3em;
}

.avatar-projeto{
    border-radius: 50%;
    width: 60%;
    object-fit: cover;
}

.add-profissional{
    border-radius: 50%;
    width: 30%;

}

.img-projeto-feed{
    object-fit: cover;
  
    width: 80%;
}


/*
.caixa-foto-perfil{
    border-right: solid 20px black;
}

@media screen and (min-width: 650px){
    border-right: solid 0 ;
}*/


/*#modelo-atualizao-projeto, #modelo-proj-addProfissional, #modelo-prof-addAoProjeto, #modelo-criar-projeto{
    background: linear-gradient(40deg, #ffd86f, #fc6262);
}*/


#modeloCriarProjeto, #modeloProfAddAoProjeto, #modeloProjAddProfissional, #modeloAtualizaoProjeto{
    width: 88%;
}


.icon-curtir{
    width: 30px;
}

.botao-curtir{
    background-color: white;
    font-size: 17px;
  
    border-radius: 10px;
    cursor: pointer;
}

.botao-curtir:hover{
    background-color: rgb(255, 94, 20);
}

.botao-curtir-ativo{
    background-color: rgb(255, 94, 20);
    font-size: 17px;
  
    border-radius: 10px;
    cursor: pointer;
}


.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    background-color: rgb(248, 117, 56)!important;
    padding: 5px 10px !important;
}

.btn-compartilhar{
    color: white;
}

.pesquisa-feed-projeto{
    width: 80%;
}

.feed-publicacoes{
    width: 80%;
}

.img-publi{
    width: 100%;
}

.img-publi-publi{
    width: 60%;
}

.btn-curtir{
    color: white;
}

.btn-curtir-active{
    color: green;
}

.btn-curtir:hover, .btn-curtir-active:hover{
    color: black;
}

.imagem-perfil-feed{
    width: 80px;
}

#userAddaoProjeto .imagem-perfil-feed, #userAddNovoProjeto .imagem-perfil-feed{
    border-radius: 50%;
}