@media (min-width:1200px) {
    #info-local-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* padding: 1em; */
        /* margin: 1em; */
    }
}

#descricao-projeto {
    font-size: 0.8em;
    font-family: Lato;
}

#info-local-data {
    margin-left: 2em;
}

#calendar {
    display: flex;
    padding: 0em;
    margin-top: 2em;
    justify-content: space-evenly;
}


/* Month header */

.month {
    /* padding: 70px 25px; */
    /* width: 100%; */
    background: #ec8c3d;
    text-align: center;
    font-family: Lato, Arial, Helvetica, sans-serif;
    padding: 0.m;
    margin: 0;
    border-radius: 50px;
    width: 400px;
    /* padding: 10px 0; */
    /* margin-top: 1em; */
}


/* Month list */

.month ul {
    margin: 1em;
    /* padding: 1.5em; */
}

.month ul li {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* Previous button inside month header */

.month .prev {
    float: left;
    padding-top: 10px;
}


/* Next button */

.month .next {
    float: right;
    padding-top: 10px;
}


/* Weekdays (Mon-Sun) */

.weekdays {
    margin: 0;
    padding: px 0;
    background-color: #ddd;
    width: 400px;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}


/* Days (1-31) */

.days {
    padding: 0;
    background: #eee;
    margin: 1;
    font-size: 1em;
    width: 400px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1em;
    color: #777;
}


/* Highlight the "current" day */

.days li .active {
    padding-top: 2px !important;
    padding-left: 5px !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    background: #ec8c3d;
    border-radius: 50%;
    color: white !important;
}
